/target/
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.swp
*.lock
*.orig
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-*.properties
src/main/resources/application-*.yml

.idea/
*.iws
*.iml
*.ipr
out/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/

.DS_Store
Thumbs.db
*.bak
*.~*
*~

logs/
*.csv
*.out
*.gz
build/reports/
jacoco.exec
coverage-report/
hs_err_pid*

.coverage
.cache/
.coverage.*
.test-results/
build/test-results/
target/test-classes/
